*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Yeon Sung', cursive;
    color: black;
}


a{
    text-decoration: none;
    color: black;
}

ul{
    margin: 0;
    padding: 0;
}

img{
    width: 130px;
    height: 70px;
}

nav{ 
    display: flex;
    flex-direction: row;
}

.header-lists-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 17px;
    padding-left: 80%;
    background-color: rgb(221, 226, 231);
}

.fab.fa-youtube, .fab.fa-instagram{
    font-size: 20px;
}

/* 마우스hover해도 오랫동안 남게끔 - 추가할 부분 */
.dropdown > ul > li{
    display: inline-block;
    margin-right: 100px;
    position: relative;
    top: 17px;
    left: 570px;
    font-size: 30px;
}

.dropdown > ul > li > ul{
    width: 130px;
    display: none;
    padding-left: 0px;
    list-style-type: none;
    position: absolute;
    top: 60px;
    font-size: 20px;
}

.dropdown > ul > li:hover > ul{
    display: block;
}
/* dropdown */

.search-group{
    position: relative;
    top: 17px;
    left: 730px;
}

.search-group input{ 
    width: 250px;
    padding: 8px;
    margin-right: 5px;
}

.search-group i{
    font-size: 25px;
    margin-left: 10px;
    position: relative;
    top: 5px;
}

/* 글자 애니메이션 만들기 슈루룩 - 추가할 부분 */
.main-title-group{
    width: 100%;
    height: 890px;
    background-image: url("https://images.unsplash.com/photo-1554739632-5c4147e9ede8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTk3fHxmb3Jlc3QlMjBwYXRofGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat;
    color: snow;
}

.lists-group{
    width: 100%;
    height: 890px;
}

.select-lists{
    display: flex;
    width: 740px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    top: 60px;
    background-color: #dddddd;
    border-radius: 15px;
}

.select-lists::after{
    content: "";
    display: block;
    opacity: 0.5;
}

.select-lists-contents li{
    display: inline;
    list-style-type: none;
    padding: 30px;
    background-color: snow;
    position: relative;
    top: 68px;
    left: 30px;
    border-radius: 30px;
}

button {
    display: block;
    width: 28px;
    height: 28px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
}
  
#prev {
    background-image: url("/side-project/images/icon-backward.svg");
    position: relative;
    top: 65px;
    left: 15px;
}
  
#next {
    background-image: url("/side-project/images/icon-forward.svg");
    position: relative;
    top: 65px;
    left: 45px;
}

.card-lists-group{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1200px;
    height: 700px;
    background-color: whitesmoke;
}

.card-lists{
    display: block;
    position: relative;
    left: 100px;
    top: 90px;
    width: 270px;
    margin: 0 35px 0 35px;
}

.card-lists img{
    width: 280px;
    height: 150px;
}

footer{
    text-align: center; 
    padding: 10px;
}

